body {
    background-color: lavender;
}
a {
    text-decoration: none;
}
ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}
.landing {
    text-align: center;
}

img {
    max-width: 500px;
    height: auto;
}
