body {
    background-color: lavender;
}
a {
    text-decoration: none;
}
@media (max-width:600px) {
    .app {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*=================
         NAV BAR
 ================== */
ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

/* ===================
    LANDING PAGE
====================== */
.landing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2em auto;
    width: 90%;
    text-align: center;
}
.welcome {
    width: 40%;
}

 p {
    text-align: justify;
}

@media (max-width:600px) {
    .landing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }

    .welcome {
        width: 450px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;

    }

    p {
        text-align: justify;
    }

    img {
        max-width: 450px;
        height: auto;
    }
}
/* ==================
    SHOE LIST PAGE
===================== */
.shoe-list {
    text-align: center;
}

h2 {
    padding: 1em;
    margin: 1em;
    font-size: 2.5em;
    font-family: cursive;
}

.all-shoes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;

}

.all-shoes {
    background-color: white;
}

.list-images {
    max-width: 250px;
    height: auto;
    padding: 0 .25em;

}

@media (max-width:600px) {
    .all-shoes-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    .list-images {
        max-width: 200px;
        height: auto;
        padding: .25em;
    }
}
/* ==================
    ADD & EDIT PAGES
===================== */
.add-edit-page {
    text-align: center;
}

.add-edit-page > img {
    height: 1000px;
    width: 1200px;
}

form {
    width: 30%;
    position: absolute;
    top: 35%;
    left: 35%;
    border: 2px solid black;
    padding: 1em;
    background-color: 	#f4d8dc;
}
h3 {
    font-size: 1.5em;
}
.form-type {
    font-size: 1.5em;
    padding: 1em .25em;
}

input[type="text"] {
    font-size: .75em;
}

.form-submit {
    font-size: 1.25em;
}

.form-submit:hover {
    background: lavender;
}

@media (max-width:600px) {
    .add-edit-page > img {
        display: none;
    }

    form {
        width: 90%;
        position: absolute;
        top: 10%;
        left: 2%;
        border: 2px solid black;
        padding: 1em;
        background-color: #f4d8dc;
    }

    .form-submit {
        font-size: 1em;
        border: 2px solid black;
        background-color: white;
        border-radius: 5px;
    }
}
/* ==================
    SHOE PAGE
===================== */
.details-box {
    text-align: center;
}
.shoe-details {
    display: inline-block;
    padding: .5em;
    margin: 1em;
}
.style-cat {
    color: grey;
}
.shoe-image > img{
    max-width: 400px;
    height: auto;
}

button {
    padding: 1em;
    margin: 1em;
    font-size: 1em;
}

@media (max-width:600px) {
    details-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    button {
        border: 1px solid black;
        background: #f4d8dc;
    }

    button:hover {
        background-color: white;
    }
}
